@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    

    <p>
        <h1>Overview:</h1>  
        The Inventory Management System is a comprehensive solution designed to streamline and optimize
        the process of tracking, managing, and controlling inventory levels. This system is tailored for
        businesses of all sizes, from small retailers to large enterprises, seeking to enhance their operational 
        efficiency and reduce costs associated with inventory management.
    </p><br />
        <p>
            <h1>Conclusion : </h1> 
            The Inventory Management System is designed to empower businesses with the tools needed to efficiently
            manage their inventory. By leveraging technology to automate processes, businesses can focus on growth 
            and customer satisfaction, knowing their inventory is under control and optimized for their operational needs.
        </p>

</main>