@{
    ViewBag.Title = "Contact me";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    

    <address>
        Rushikesh Bhosale<br />
       Mobile Num: 7350727279<br />
        <abbr title="address">kalevadi, Pimpari Chinchvad</abbr>
       
    </address>

    <address>
        <strong>Email Id:</strong>   <a href="bhosalerushi2001@gmail.com">bhosalerushi2001@gmail.com</a><br />
        
    </address>
</main>