@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row">
        <h1 id="title">Inventory Management System </h1>
        <p class="lead">Transform the Way You Manage Inventory.</p>
       
    </section>

   
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                Why Choose Us?
                User-Friendly Interface: Easy to navigate and use, reducing training time and increasing efficiency.
                <br />

                Scalable Solution: Designed to grow with your business, from small retailers to large enterprises.
                <br />

                Reliable Performance: Consistent, accurate, and dependable inventory management.
                <br />

                Excellent Support: Our dedicated support team is here to help you every step of the way.
                <br />
            </p>
        
        
    
</main>